* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f1f5f8;
  color: #222;
  padding: 7%;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}

.book-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding: 50px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #8989892a;
  position: relative;
}

.book-index {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px;
  left: 10px;
  padding: 1.5px 10px;
  border-radius: 30px;
  background-color: #17756dff;
  color: #f1f5f8;
}

.book img {
  width: 200px;
  box-shadow: 1px 1px 6px #0000002a;
  flex: 3;
  min-height: 300px;
  object-fit: cover;
}

.book h3 {
  flex: 2;
}

.book button {
  min-width: 150px;
  padding: 8px 16px;
}

@media screen and (min-width: 768px) {
  body {
    padding: 2%;
  }
  .book-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
